html {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 500px;
}

.calculator-screen {
  height: 80px;
  border: none;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  font-size: 4rem;
}

.result-screen {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: none;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

.calc-btn {
  height: 60px;
  font-size: 2rem !important;
  text-overflow: clip;
  overflow: hidden;
  white-space: normal;
}

.equal-sign {
  height: 98%;
  grid-area: 2 / 4 / 5 / 5;
}

.calculator-keys {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  padding: 20px;
}

.calculator-keys-container {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  flex-flow: column;
}

.remove-btn {
  grid-area: 1 / 4 / 1 /5;
}

.operations-keys {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 15%;
  grid-gap: 5px;
  padding: 10px 20px;
}

.operations-keys > button {
  height: 5%;
  width: 15%;
  padding: 0.8em;
  font-size: 1em !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
